body {
    font-family: "Teko", Arial, sans-serif;
    font-size: 1.5rem;
    margin: 10rem;
}

h1, h2, p, a {
    text-align: center;
}

table {
    width: 100%;
}

th, td {
    text-align: center;
    border: 1px solid black;
}

th {
  border: none;
  border-bottom: 5px solid black;
}

#filterForm {
  text-align: center;
  margin-bottom: 3rem;
}

#search {
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  display: inline-flex;
  fill: #000;
  font-size: 1rem;
  font-weight: 600;
  height: 48px;
}

.ulDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-59, #attribute {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-size: 1rem;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}