<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NBA Teams Dataset</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Teko">
</head>
<body>
    <h1>KorisniÄki profil</h1>
    <pre><%= JSON.stringify(user, null, 2) %></pre>
    <div style="text-align: center;">
        <a href="/logout"><button class="button-59">Logout</button></a>
    </div>
</body>
</html>